/build
**/logs
**/logs/debug.log
*.log
!important.log
!important/*.log
trace.*
/debug.log
debug.log
debug?.log
debug[0-9].log
debug[01].log
debug[!01].log
debug[a-z].log
logs
logs/
!logs/important.log
logs/**/debug.log
logs/*day/debug.log
logs/debug.log